.app {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  &__header {
    background: darkslategray;
    color: #ffffff;
    padding: 40px;
    display: flex;
    justify-content: space-between;

    .app__right {
      display: flex;
      justify-content: space-between;
      margin-top: 2%;


      li {
        list-style-type: none;
        margin-right: 5%;

      }

      .app__link {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  &__routes {
  }
}
